*
   {
       font-family: 'MuseoModerno','Roboto', sans-serif
       
   } 
 


$main-color: red;

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/forms";
@import "blocks/catalog";
@import "blocks/comment";
@import "blocks/footer";
@import "blocks/media";