.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border:none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        li::marker {
            display: none;
            font-size: 0;
            }
        button {
            width: 50px;
            height: 50px;
            border-radius:100%;
            border:none;
            background-color: rgb(24, 87, 168);
                }
        .slick-active {
            
            border-radius: 100%;
            button {
                background-color: red;
                }
            }
     }
        
}