.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 68px 60px 68px;    
    }
    &__adr {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        width: 53px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items:center;
        border: 2px solid #FFFFFF;
        border-radius:100%;
        margin: 0 15px;
        &:hover {
            background-color: blue
        }
        img {
            height: 27px;
        }
    }
    &__social {
        display:flex;
        justify-content: center;
        align-items:center;
    }
}