@media (max-width: 1200px) {
    .promo {
        padding: 21px 23px 93px 0;
        }
    .advantages {
        .row {
            justify-content: space-between;
        }
    }
}
@media (max-width: 992px) {
    .promo {
        .header {
            &__logo
            img {
                width: 80%;       
            }
            &__oficial {
                font-size: 10px;
                margin-right: 24px;
            span {
                font-size: 14px;
                }  
            
            } 
            
        }   
    }
    .header__phone {
        font-size: 14px;
    }
    .advantages {
        .row {
            justify-content: space-between;
            }
        }
}
@media (max-width: 776px){
    .promo{
        .button {
            height: 27px;
            width: 127px;
        }
        .button_main{
            width: 250px;
            height: 45px;
        }
        h1 {
            font-size: 26px;
        }
        .promo__icons {
            width: 320px;
        }
    &__subheader {
       margin-top: 2px;
       font-size: 15px; 
    }  
    .header__oficial {
        font-size: 8px;
        span {
            font-size: 12px;
            }
        } 
    }
    .consultation {
        padding-left: 20px;
        .title_left {
            font-size: 30px;
        }
        .consultation__discr {
            font-size: 17px;
            }
        }
    
}
@media (max-width: 576px){
    .header {
        display: none;
    }
    .promo{
        h1 {
            text-align: center;
        }
        .promo__subheader {
            text-align: center;
        }
        .promo__icons{
            width: 250px;
        h3 {
            font-size: 10px;
            }
        
        }
        .button_main{
            width: 200px;
        }
    }
    .advantages {
        h2{
            font-size: 18px;
            padding-top: 36px;
        }
    }
    .consultation {
        padding: 50px 0 92px 25px;
        .title_left {
            font-size: 20px;
        }
        .consultation__discr {
            font-size: 12px;
            line-height: 18px;
            }
        .feed-form {
            width: 270px;
        }

    }
}